<% player = @selected_player || current_user.arena_players.first %>

<% if player %>
  <% projects = player.projects %>
  <% project = projects.first if projects.any? %>
  <% tasks_by_week = player.tasks.group_by(&:week_number) %>
  <% total_weeks = @total_weeks || 5 %> <!-- Default to 5 weeks if @total_weeks is not set -->
  <% current_week = @current_week || 1 %> <!-- Default to week 1 if @current_week is not set -->

  <div class="row" data-controller="week-selector task" data-week-selector-tasks-by-week="<%= tasks_by_week.to_json %>" data-task-task-ids-value="<%= player.tasks.map(&:id).to_json %>">
    <!-- Project Card with Week Selector -->
    <% if project %>
      <div class="col-md-6">
        <div class="card small dashboard">
          <div class="card-body">
            <h5 class="card-title">Sprint</h5>
            <div class="row">
              <% (1..total_weeks).each do |week| %>
                <div class="col-12">
                  <div class="form-check m-2">
                    <input class="form-check-input week-selector" type="radio" name="week" id="week<%= week %>" value="<%= week %>" data-week-selector-target="weekSelector" <%= 'checked' if week == current_week %>>
                    <label class="form-check-label" for="week<%= week %>">
                      W<%= week %> - <%= tasks_by_week[week]&.count || 0 %> Task(s) - <%= tasks_by_week[week]&.map(&:score)&.sum || 0 %> pts
                    </label>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <p>No projects available for this player.</p>
    <% end %>

    <!-- Task Card -->
    <div class="col-md-6">
      <div class="card small dashboard">
        <div class="card-body">
          <h5 class="card-title">Weekly Tasks<span id="current-week-number" data-week-selector-target="currentWeekNumber" style="display: none;"><%= current_week %></span></h5>
          <div id="task-list" data-week-selector-target="taskList">
            <% tasks_by_week[current_week]&.each do |task| %>
              <div class="task-item mt-2 align-items-center" data-task-id="<%= task.id %>" data-task-target="task">
                <div class="form-check">
                  <input class="form-check-input task-done" type="checkbox" value="" <%= 'checked' if task.done %> disabled>&nbsp;
                  <label class="form-check-label task-name <%= 'text-decoration-line-through' if task.done %>"><%=task.name%> - <%=task.score%> pts</label>
                  <i class="fa fa-check text-success ms-2 <%= 'd-none' unless task.done %>"></i>
                </div>
                <p class="task-description ps-2"><%= task.description %></p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <p>No player data available. Please select a player or join an arena.</p>
<% end %>
