<% player = @selected_player || current_user.arena_players.first %>
<% if player %>
  <% projects = player.projects %>
  <% project = projects.first if projects.any? %>
  <% tasks = player.tasks %>
  <% completed_tasks = tasks.select(&:done).count %>
  <% total_tasks = tasks.count %>
  <% task_completion_percentage = total_tasks.zero? ? 0 : (completed_tasks.to_f / total_tasks * 100).round %>
  <% player_rank = player.rank %>
  <% player_score = player.total_score %>

  <%   github_client = Octokit::Client.new(access_token: ENV['GITHUB_ACCESS_TOKEN']) %>
  <%   github_user = github_client.user(player.user.pseudo) %>
  <%   github_profile_url = github_user.html_url %>

  <div class="card large dashboard">
    <div class="d-flex justify-content-between">
      <div class="card-body">
        <div class="d-flex justify-content-around">
          <%= link_to github_profile_url, target: "_blank", class: "github-profile-link", data: { controller: "github-profile", action: "mouseenter->github-profile#showTooltip mouseleave->github-profile#hideTooltip" } do %>
            <%= image_tag(player.user.avatar_url, alt: player.user.pseudo, class: "rounded-circle github-avatar", style: "width: 40px; height: 40px;") %>
          <% end %>
          <h2><span class="badge bg-secondary"><%= player_rank %><%= case player_rank % 10  when 1 then 'st'  when 2 then 'nd'  when 3 then 'rd'  else 'th' end %></span></h2>
          <h2><span class="badge bg-warning"><%= player_score %> pts</span></h2>
          <% if project %>
            <h2>
              <span class="badge bg-primary">
                <i class="fab fa-github"></i>
                <%= link_to project.name, project.repo_url, class: "text-info", target: "_blank" %>
              </span>
            </h2>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="d-inline-flex">
        <h5 class="card-title">Tasks</h5>
      </div>
      <div class="progress">
        <div class="progress-bar bg-warning" role="progressbar" style="width: <%= task_completion_percentage %>%;" aria-valuenow="<%= task_completion_percentage %>" aria-valuemin="0" aria-valuemax="100"><%= task_completion_percentage %>% completed</div>
      </div>
    </div>
    <div class="card-body">
      <div class="d-inline-flex">
        <h5 class="card-title">Weeks</h5>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-weeks bg-secondary" role="progressbar" style="width: <%= (@current_week.to_f / @total_weeks * 100).round %>%;" aria-valuenow="<%= @current_week %>" aria-valuemin="0" aria-valuemax="100"><%= @current_week %> weeks</div>
      </div>
      <div class="d-flex justify-content-end">
        <p><%= @arena.end_date %></p>
      </div>
    </div>
  </div>
<% else %>
  <p>No player data available. Please select a player or join an arena.</p>
<% end %>
