<% player = @selected_player || current_user.arena_players.first %>
<% if player %>
  <% projects = player.projects %>
  <% project = projects.first if projects.any? %>
  <% tasks = player.tasks %>
  <% completed_tasks = tasks.select(&:done).count %>
  <% total_tasks = tasks.count %>
  <% task_completion_percentage = total_tasks.zero? ? 0 : (completed_tasks.to_f / total_tasks * 100).round %>

  <div class="card large dashboard">
    <div class="d-flex justify-content-between">
      <div class="card-body">
        <div class="d-inline-flex">
          <h5 class="card-title light-gray">> <%= player.user.pseudo %>.</h5>
          <h5 class="card-title orange">rank</h5>
        </div>
        <p class="text-center"><%= player.rank %></p>
        <p class="text-center"><%= player.score %></p>
      </div>
      <% if project %>
      <div class="card-body">
        <div class="d-inline-flex">
          <h5 class="card-title light-gray">> <%= player.user.pseudo %>.</h5>
          <h5 class="card-title orange">project</h5>
        </div>
        <p>
          <i class="fab fa-github"></i>
          <a href="<%= project.repo_url %>"><%= project.name %></a>
        </p>
        <div class="d-inline-flex">
          <p class="light-gray">> commit.</p>
          <p class="orange">count</p>
          <p class="light-red">&nbsp;&nbsp;&nbsp;# => <%= project.commits.count %></p>
        </div>
      </div>
      <% end %>
    </div>
    <div class="card-body">
      <div class="d-inline-flex">
        <h5 class="card-title light-gray">> <%= player.user.pseudo %>.</h5>
        <h5 class="card-title orange">tasks</h5>
      </div>
      <div class="progress">
        <div class="progress-bar bg-warning" role="progressbar" style="width: <%= task_completion_percentage %>%;" aria-valuenow="<%= task_completion_percentage %>" aria-valuemin="0" aria-valuemax="100"><%= task_completion_percentage %>% completed</div>
      </div>
    </div>
    <div class="card-body">
      <div class="d-inline-flex">
        <h5 class="card-title light-gray">>&nbsp;</h5>
        <h5 class="card-title lightblue"><%= @arena.name %></h5>
        <h5 class="card-title light-gray">.</h5>
        <h5 class="card-title orange">weeks</h5>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-weeks bg-secondary" role="progressbar" style="width: <%= (@current_week.to_f / @total_weeks * 100).round %>%;" aria-valuenow="<%= @current_week %>" aria-valuemin="0" aria-valuemax="100"><%= @current_week %> weeks</div>
      </div>
    </div>
  </div>
<% else %>
  <p>No player data available. Please select a player or join an arena.</p>
<% end %>
