<div class="card small">
  <div class="card-body">
    <h5 class="card-title">> <%= @arena.name %>.prize</h5>
    <p>50 000€</p>
  </div>
  <div class="card-body">
    <h5 class="card-title">> <%= @arena.name %>.start</h5>
    <p><%= @arena.start_date %></p>
  </div>
  <div class="card-body">
    <h5 class="card-title">> <%= @arena.name %>.finish</h5>
    <p><%= @arena.end_date %></p>
  </div>
</div>
