<div class="row">
  <div class="card" style="border-radius: 5%">
      <div>
        <p> > <%= @arena.name %>.prize </p>
      </div class="row justify-content-center">
        <p>50 000€</p>
      <div>
        <p>> <%= @arena.name %>.start</p>
      </div>
      <div>
        <p><%= @arena.start_date %></p>
      </div>
      <div>
        <p>> <%= @arena.name %>.finish</p>
      </div>
      <div>
        <p><%= @arena.end_date %></p>
      </div>
  </div>
</div>
