#TODO: Update this file to update the task status in real time
<%= turbo_frame_tag "task_#{task.id}" do %>
  <div id="task_<%= task.id %>" class="task-item mt-2">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="task<%= task.id %>" <%= 'checked' if task.done %> disabled>
      <label class="form-check-label <%= 'text-decoration-line-through' if task.done %>" for="task<%= task.id %>">
        <%= task.name %> - <%= task.score %> pts
      </label>
      <% if task.done %>
        <i class="fa fa-check text-success ml-2"></i>
      <% end %>
    </div>
    <p><%= task.description %></p>
  </div>
<% end %>
