<div class="container">
  <h1 class="my-4">Your ArenasPat</h1>

  <ul class="nav nav-tabs d-flex justify-content-between align-items-center mb-4" id="arenaTabs" role="tablist">
    <%# <div class="d-flex">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="created-arenas-tab" data-bs-toggle="tab" href="#created-arenas" role="tab" aria-controls="created-arenas" aria-selected="true">Created Arenas</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="joined-arenas-tab" data-bs-toggle="tab" href="#joined-arenas" role="tab" aria-controls="joined-arenas" aria-selected="false">Joined Arenas</a>
      </li>
    </div> %>
    <%= link_to 'Create Arena', new_arena_path, class: 'btn btn-primary' %>
  </ul>


 <div class="row">
    <div class="col">
      <p><%= @arenas.count %> arenas available.</p>
    </div>
  </div class="row">


<div class="row mb-4">
  <% @arenas.each_with_index do |arena, index| %>
    <div class="col-md-4 mt-4">
      <div class="card">
      <div>
       <% if arena.image_url.present? %>
          <img src="<%= arena.image_url %>" class="card-img-top pic" alt="<%= arena.name %>">
        <% end %>
      </div>
        <div class="card-body">
        <div class="d-flex justify-content-between align-items-center w-100">
          <h5 class="card-title text-primary"><%= arena.name %></h5>
          <a href="<%= arena_path(arena) %>" class="btn btn-primary button_radius">Join</a>
        </div>
        <div class="mt-2 d-flex justify-content-between align-items-center w-75">
          <span style="height: 20px; line-height: 20px;">
          <i class="fa-solid fa-calendar" style="color: #ffffff;"></i>
          <%= arena.start_date %>
          </span>
          <span style="height: 20px; line-height: 20px;">
          <i class="fa-solid fa-euro-sign" style="color: #ffffff;"></i>
          <%= arena.prize %>
          </span>
          <span style="height: 20px; line-height: 20px;">
          <i class="fa-solid fa-person" style="color: #ffffff;"></i>
          <%= arena.slots %>
          </span>
        </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
