<div class="container" data-controller="arena">
  <div class="row">
    <!-- Form section on the left -->
    <div class="col-md-6">
      <h1 class="my-4">Create New Arena</h1>
      <%= simple_form_for @arena do |f| %>
        <div class="form-group">
          <%= f.input :name, label: 'Arena Name', input_html: { class: 'form-control text-dark', data: { action: "blur->arena#updateCard" } } %>
        </div>

        <div class="form-group">
          <%= f.input :start_date, as: :date, html5: true, label: 'Start Date', input_html: { class: 'form-control text-dark', data: { action: "blur->arena#updateCard change->arena#updateCard" } } %>
        </div>

        <div class="form-group">
          <%= f.input :image_url, label: 'Image URL', input_html: { class: 'form-control text-dark', data: { action: "blur->arena#updateCard" } } %>
        </div>
        <div class="form-group">
          <%= f.input :prize, label: 'Prize', input_html: { class: 'form-control text-dark', data: { action: "blur->arena#updateCard" } } %>
        </div>
        <div class="form-group">
          <%= f.input :active, label: 'Active', as: :boolean, input_html: { class: 'form-check-input text-dark', data: { action: "change->arena#updateCard" } } %>
        </div>
        <div class="form-group">
          <%= f.input :slots, label: 'Number of Slots', input_html: { class: 'form-control text-dark', data: { action: "blur->arena#updateCard" } } %>
        </div>
        <div class="form-group">
          <%= f.input :category_id, collection: Category.all, label_method: :name, value_method: :id, label: 'Category', input_html: { class: 'form-control text-dark', data: { action: "change->arena#updateCard" } } %>
        </div>
        <div class="form-group">
          <%= f.input :language_id, collection: Language.all, label_method: :name, value_method: :id, label: 'Language', input_html: { class: 'form-control text-dark', data: { action: "change->arena#updateCard", arena_target: "languageSelect" } } %>
        </div>

        <%= f.submit 'Create Arena', class: 'btn btn-primary mt-3' %>
      <% end %>
      <%= link_to 'Back to Arenas', arenas_path, class: 'btn btn-secondary mt-3' %>
    </div>

    <!-- Dynamic card display section on the right -->
    <div class="col-md-6">
      <div class="card" data-arena-target="card">

          <%# <img src="" class="card-img-top pic" alt="Arena Image" data-arena-target="image"> %>
          <%= image_tag '', class: 'card-img-top pic', alt: 'Arena Image', data: { arena_target: 'image' } %>

        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center w-100">
            <h5 class="card-title text-primary" data-arena-target="name">Arena Name</h5>
          </div>
          <p class="card-text" data-arena-target="description">Description</p>
          <div class="mt-2 d-flex justify-content-between align-items-center w-75">
            <span style="height: 20px; line-height: 20px;">
              <i class="fa-solid fa-calendar" style="color: #ffffff;"></i>
              <span data-arena-target="start_date">Start Date</span> - <span data-arena-target="end_date">End Date</span>
            </span>
            <span style="height: 20px; line-height: 20px;">
              <i class="fa-solid fa-euro-sign" style="color: #ffffff;"></i>
              <span data-arena-target="prize">Prize</span>
            </span>
            <span style="height: 20px; line-height: 20px;">
              <i class="fa-solid fa-person" style="color: #ffffff;"></i>
              <span data-arena-target="slots">Slots</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
