<div class='container-fluid py-2 px-4 vh-80'>
  <div class="row justify-content-between mb-4 h-50">
    <div class="col-md-6">
      <%= render 'shared/commit-ground/arena_player_kpis'  %>
    </div>
    <div class="col-md-3">
      <%= render 'shared/commit-ground/arena_ranking' %>
    </div>
    <div class="col-md-3">
      <%= render 'shared/commit-ground/arena_player_prize' %>
  </div>
</div>
  <div class="row justify-content-center h-50">
    <div class="col-md-6">
      <%= render 'shared/commit-ground/arena_player_projects'  %>
    </div>
    <div class="col-md-6">
      <%= render 'shared/commit-ground/arena_player_comments', arena: @arena %>
    </div>
  </div>
</div>
