<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid fixed-top navbarfixedtop">
    <div class="d-flex align-items-center">
      <%= link_to "#", class: "navbar-brand logo" do %>
        <%= image_tag "Logo_.png" %>
      <% end %>
      <span class="navbar-text">
        <% if current_user && current_user_active_arena %>
          <%= link_to 'CommitGround', arena_path(current_user_active_arena), class: 'nav-link d-inline p-0 nav-button' %>
        <% else %>
          <%= link_to 'No Active Arena', '#', class: 'nav-link d-inline p-0 nav-button' %>
        <% end %>
      </span>
      <span class="navbar-text ms-2">
        <%= link_to 'Join Arenas', arenas_path , class: 'nav-link d-inline p-0 nav-button'%>
      </span>
            <span class="navbar-text ms-2">
        <%= link_to 'New Arena', new_arena_path , class: 'nav-link d-inline p-0 nav-button'%>
      </span>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_user.avatar_url.nil? %>
                <%= image_tag "https://avatars.githubusercontent.com/u/583231?v=4", class: "avatar", alt: "avatar", class: "avatar", alt: "dropdown menu" %>
              <% else %>
                <%= image_tag current_user.avatar_url, class: "avatar", alt: "avatar", class: "avatar", alt: "dropdown menu" %>
              <% end %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My Profile", "#", class: "dropdown-item text-dark" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item text-dark" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item btn btn-primary">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
