<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<div class='container'>
  <div class="row">
    <div class="col-md-6">
      <%= render 'shared/commit-ground/arena_player_kpis'  %>
    </div>
    <div class="col-md-3">
      <%= render 'shared/commit-ground/arena_ranking' %>
    </div>
    <div class="col-md-3">
      <%= render 'shared/commit-ground/arena_player_prize' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <%= render 'shared/commit-ground/arena_player_projects'  %>
    </div>
    <div class="col-md-3">
      <%= render 'shared/commit-ground/arena_player_tasks' %>
    </div>
    <div class="col-md-6">
      <%= render 'shared/commit-ground/arena_player_comments' %>
    </div>
  </div>
</div>
