<!DOCTYPE html>
<html>
  <head>
    <title>CommitGame</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:title" content="CommitGame">
    <meta property="og:description" content="Gamify your coding side projects!">
    <meta property="og:image" content="https://i.postimg.cc/3xBnqsNr/Capture-d-e-cran-2024-06-29-a-12-59-48.png">
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>



    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>

  <body>
      <%= render "shared/navbar" %>
      <%= render 'shared/flash' %>
      <%= yield %>
      <%# <%= render "shared/footer" %>
  </body>
</html>
